.container-main::before {
    content: "";
    background-image: url('../../../assets/img/main-page.jpg');
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    z-index: -1; /* Place the overlay behind the content */
  }
  
.container-main {
    position: relative; /* Make sure the container has a position other than static */
    height: 100vh;
}

.section1-div
{
    display: flex;
    flex-direction: column;
    padding: 14% 0 0 0;
}

.section1-div h1
{
    color: aliceblue;
    text-align: center;
    font-weight: 900;
    font-size: 50px
}

.section1-div h2
{
    color: aliceblue;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding-top: 5px;
}

.section1-div h3
{
    padding-top: 20px;
    color: aliceblue;
    text-align: center;
    font-weight: 500;
    font-size: 20px
}

.section1-inputs
{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;
    width: 100%;
    height: 200px;
}

.section1-inputs .txt-field
{
    position: relative;
}

.section1-inputs .txt-field input:focus ~ label
{
    top: 13px;
    font-size: 12px;
}

.section1-inputs label
{
    position: absolute;    
    top: 50%;
    left: 15px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.section1-inputs input
{
    width: 450px;
    height: 55px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(27, 27, 27, 0.8);
    border: 1px solid grey;
    color: aliceblue;
}

.section1-inputs button
{
    background-color: #E50914;
    color: aliceblue;
    width: 130px;
    height: 55px;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    font-weight: 600;
}

.section1-inputs button:hover
{
    background-color: #b20911;
    transition: 0.4s all;
}

.section1-banner
{
    background: rgb(14, 27, 79);
    background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    margin: 0 auto 0 auto;
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.section1-banner img
{
    width: 5%;
    padding: 5px;
    margin-right: 50px;
}

.section1-banner .section1-bannerText
{
    color: aliceblue;
}

.section1-banner .section1-bannerText h2
{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.section1-banner .section1-bannerText h3
{
    font-size: 15px;
    font-weight: 500;
}

.section1-banner .section1-bannerText a
{
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px 0 0;
    color: #5b70c5;
}

.section1-banner .section1-bannerText span
{
    font-size: 35px;
    font-weight: 600;
    margin-right: 15px;
    color: #5b70c5;
}

.section1-banner .section1-bannerLink
{
    display: flex;
    align-items: center;
}

.section2-div
{
    margin: 0 12% 0 12%;
    display: flex;
    flex-direction: row;
}

.section2-div .row
{
    margin: 7% 0 0 0;
    color: aliceblue;
    width: 50%;
}

.section2-div .row h2
{
   font-weight: 700;
}