<div class="container-main">
  <div class="section1-div">
    <h1>Risate. Lacrime. Brividi. Li trovi tutti su Netflix.</h1>
    <h2>Intrattenimento senza fine a partire da soli 5,49 €. Disdici quando vuoi.</h2>
    <h3>Vuoi guardare Netflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento.</h3>
    <div class="section1-inputs">
      <div class="txt-field">
        <input type="email">
        <label>Indirizzo email</label>
      </div>      
      <button>Inizia <span>></span></button>
    </div>
  </div>
  
  <div class="section1-banner">
    <img src="../../../assets/img/popcorn.png" alt="">
    <div class="section1-bannerText">
      <h2>Tutto ciò che ami di Netflix a soli 5,49€.</h2>
      <h3>Scegli il piano Standard con pubblicità</h3>
      <div class="section1-bannerLink">
        <a href="">Scopri di più</a>
        <span>></span>
      </div>      
    </div>
  </div>

  <div class="section2-div">

    <div class="row">
      <div class="col">
        <h2>Goditi Netflix sulla tua TV</h2>
        <h3>Guarda Netflix su smart TV, Playstation, Xbox, Chromecast, Apple TV, lettori Blu-ray e molti altri dispositivi.</h3>
      </div>
      <div class="col">
  
      </div>
    </div>
    
  </div>

  <div *ngIf="auth.user$ | async as user">
    <p>{{user.email}}</p>
  </div>
  
</div>
